<div class="team-modal" id="<%= mascot.id %>">
    <div class="modal-content" onclick="event.stopPropagation()">
        <span class="close-button" onclick="showModal(event, '<%=JSON.stringify(mascot)%>')">×</span>
        <h1>Hello, <%= mascot.name %>!</h1>
        <p>Representing<%= mascot.organiztion %>, born in <%= mascot.birth_year %></p>
    </div>
</div>
