<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

  <header>
    <%- include('../partials/header', {activeLocation: 'home'}); %>
  </header>

  <main>
    <div class="jumbotron">
      <div class="content">
        <% features.forEach(function(feature) {%>
          <div class="card" onclick="toggleModal(event, '<%=JSON.stringify(feature)%>')">
            <h2><%= feature.name %></h2>
            <p><%= feature.description %></p>
            <%- include('../partials/modal', {feature: feature}); %>
          </div>
        <% }); %>
      </div>
    </div>
  </main>

  <script>
    // Toggle Modal
    function toggleModal(event, feature) {
      const parsedFeature = JSON.parse(feature);
      // Get Modal Element By Id
      const modalElement = document.getElementById(parsedFeature.id);
      // if modalElement is present, show the pop up
      if (modalElement) {
        modalElement.classList.toggle("show-modal");
      }
    }
  </script>
</body>
</html>
